In [2]:
import pandas as pd
import numpy as np

In [19]:
#import file, describe
heart = pd.read_csv('heart_2020.csv')
heart.info()
heart.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 319795 entries, 0 to 319794
Data columns (total 18 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   HeartDisease      319795 non-null  object
 1   BMI               319795 non-null  float64
 2   Smoking           319795 non-null  object
 3   AlcoholDrinking   319795 non-null  object
 4   Stroke            319795 non-null  object
 5   PhysicalHealth    319795 non-null  float64
 6   MentalHealth      319795 non-null  float64
 7   DiffWalking       319795 non-null  object
 8   Sex               319795 non-null  object
 9   AgeCategory       319795 non-null  object
 10  Race              319795 non-null  object
 11  Diabetic          319795 non-null  object
 12  PhysicalActivity  319795 non-null  object
 13  GenHealth         319795 non-null  object
 14  SleepTime         319795 non-null  float64
 15  Asthma            319795 non-null  object
 16  KidneyDisease     319795 non-null  object
 17  SkinCancer        319795 non-null  object
dtypes: float64(4), object(14)
memory usage: 43.9+ MB

,HeartDisease,BMI,Smoking,AlcoholDrinking,Stroke,PhysicalHealth,MentalHealth,DiffWalking,Sex,AgeCategory,Race,Diabetic,PhysicalActivity,GenHealth,SleepTime,Asthma,KidneyDisease,SkinCancer
0,No,16.60,Yes,No,No,3.0,30.0,No,Female,55-59,White,Yes,Yes,Very good,5.0,Yes,No,Yes
1,No,20.34,No,No,Yes,0.0,0.0,No,Female,80 or older,White,No,Yes,Very good,7.0,No,No,No
2,No,26.58,Yes,No,No,20.0,30.0,No,Male,65-69,White,Yes,Yes,Fair,8.0,Yes,No,No
3,No,24.21,No,No,No,0.0,0.0,No,Female,75-79,White,No,No,Good,6.0,No,No,Yes
4,No,23.71,No,No,No,28.0,0.0,Yes,Female,40-44,White,No,Yes,Very good,8.0,No,No,No

In [20]:
heart.describe()

                 BMI  PhysicalHealth   MentalHealth      SleepTime
count  319795.000000    319795.00000  319795.000000  319795.000000
mean       28.325399         3.37171       3.898366       7.097075
std         6.356100         7.95085       7.955235       1.436007
min        12.020000         0.00000       0.000000       1.000000
25%        24.030000         0.00000       0.000000       6.000000
50%        27.340000         0.00000       0.000000       7.000000
75%        31.420000         2.00000       3.000000       8.000000
max        94.850000        30.00000      30.000000      24.000000

In [21]:
heart.nunique()

HeartDisease           2
BMI                 3604
Smoking                2
AlcoholDrinking        2
Stroke                 2
PhysicalHealth        31
MentalHealth          31
DiffWalking            2
Sex                    2
AgeCategory           13
Race                   6
Diabetic               4
PhysicalActivity       2
GenHealth              5
SleepTime             24
Asthma                 2
KidneyDisease          2
SkinCancer             2
dtype: int64

In [22]:
model_columns = ['HeartDisease', 'BMI', 'Smoking', 'AlcoholDrinking', 'Sex', 'AgeCategory', 'Race', 'Diabetic', 'PhysicalActivity', 'SleepTime']
heart_model = heart.loc[:, model_columns]
heart_model.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 319795 entries, 0 to 319794
Data columns (total 10 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   HeartDisease      319795 non-null  object
 1   BMI               319795 non-null  float64
 2   Smoking           319795 non-null  object
 3   AlcoholDrinking   319795 non-null  object
 4   Sex               319795 non-null  object
 5   AgeCategory       319795 non-null  object
 6   Race              319795 non-null  object
 7   Diabetic          319795 non-null  object
 8   PhysicalActivity  319795 non-null  object
 9   SleepTime         319795 non-null  float64
dtypes: float64(2), object(8)
memory usage: 24.4+ MB

In [23]:
#Create BMI categories
bins = [0, 25, 30, 100]
labels = [1, 2, 3]
heart_model['BMI_Category'] = pd.cut(heart_model['BMI'], bins=bins, labels=labels)
heart_model.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 319795 entries, 0 to 319794
Data columns (total 11 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   HeartDisease      319795 non-null  object
 1   BMI               319795 non-null  float64
 2   Smoking           319795 non-null  object
 3   AlcoholDrinking   319795 non-null  object
 4   Sex               319795 non-null  object
 5   AgeCategory       319795 non-null  object
 6   Race              319795 non-null  object
 7   Diabetic          319795 non-null  object
 8   PhysicalActivity  319795 non-null  object
 9   SleepTime         319795 non-null  float64
 10  BMI_Category      319795 non-null  category
dtypes: category(1), float64(2), object(8)
memory usage: 24.7+ MB

In [24]:
heart_model.head()

,HeartDisease,BMI,Smoking,AlcoholDrinking,Sex,AgeCategory,Race,Diabetic,PhysicalActivity,SleepTime,BMI_Category
0,No,16.60,Yes,No,Female,55-59,White,Yes,Yes,5.0,1
1,No,20.34,No,No,Female,80 or older,White,No,Yes,7.0,1
2,No,26.58,Yes,No,Male,65-69,White,Yes,Yes,8.0,2
3,No,24.21,No,No,Female,75-79,White,No,No,6.0,1
4,No,23.71,No,No,Female,40-44,White,No,Yes,8.0,1

In [25]:
#Check AgeCategory
heart_model['AgeCategory'].unique()

array(['55-59', '80 or older', '65-69', '75-79', '40-44', '70-74',
       '60-64', '50-54', '45-49', '18-24', '35-39', '30-34', '25-29'],
      dtype=object)

In [28]:
#Get the sorted array of unique values from the AgeCategory column
age_array = np.sort(heart_model['AgeCategory'].unique())

#Create a range of numbers from 1 to 13
age_range = np.arange(1, 14)

#Create a dictionary with the array items as keys and the range items as values
age_dict = {age: num for age, num in zip(age_array, age_range)}

#Check the dictionary
print(age_dict)

{'18-24': 1, '25-29': 2, '30-34': 3, '35-39': 4, '40-44': 5, '45-49': 6, '50-54': 7, '55-59': 8, '60-64': 9, '65-69': 10, '70-74': 11, '75-79': 12, '80 or older': 13}

In [29]:
#Map AgeCategories to number groups for easier analysis
heart_model['AgeCategory_Num'] = heart_model['AgeCategory'].map(age_dict)
heart_model['AgeCategory'].unique()
heart_model.head()

,HeartDisease,BMI,Smoking,AlcoholDrinking,Sex,AgeCategory,Race,Diabetic,PhysicalActivity,SleepTime,BMI_Category,AgeCategory_Num
0,No,16.60,Yes,No,Female,55-59,White,Yes,Yes,5.0,1,8
1,No,20.34,No,No,Female,80 or older,White,No,Yes,7.0,1,13
2,No,26.58,Yes,No,Male,65-69,White,Yes,Yes,8.0,2,10
3,No,24.21,No,No,Female,75-79,White,No,No,6.0,1,12
4,No,23.71,No,No,Female,40-44,White,No,Yes,8.0,1,5